.mat-elevation-z8 {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.mat-header-cell,
.mat-cell {
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .mat-header-cell,
  .mat-cell {
    padding: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 497px) {
  .mat-header-cell,
  .mat-cell {
    padding: 6px;
    font-size: 10px;
  }

  .info{
    font-size: 10px;
  }
}



