
<div class="background-container">
<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">

  <mat-toolbar color="warn" class="navbar">
  <span class="navbar-brand">E-Soren</span>
  <span class="spacer"></span>

  <div class="menu">
    <button mat-button routerLink="/order" routerLinkActive="active">Track Order</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </div>

  <div class="ham" [class.open]="isMenuOpen" (click)="toggleMenu() ">

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <div class="ham2" [class.open]="isMenuOpen"  (click)="toggleMenu() ">
      <button mat-button routerLink="/order" routerLinkActive="active">Track Order</button>
      <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
      <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    </div>
  </div>
</mat-toolbar>

</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="warn" class="navbar">
      <span class="navbar-brand">E-Soren</span>
      <span class="spacer"></span>


    <div class="menu">
      <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analytics</button>
      <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
      <button mat-button routerLink="/admin/product" routerLinkActive="active">Product</button>
      <button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
      <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Post Coupon</button>
      <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Coupons</button>
      <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
    </div>

    <div class="ham" [class.open]="isMenuOpen" (click)="toggleMenu() ">

        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>

        <div class="ham3" [class.open]="isMenuOpen"  (click)="toggleMenu()">

      <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="/admin/product" routerLinkActive="active" class="admin">Product</button>
      <button mat-button routerLink="/admin/orders" routerLinkActive="active" class="admin">Orders</button>

      <button mat-button routerLink="/admin/coupons" routerLinkActive="active" class="admin" id="an">Coupons</button>
      <button mat-button routerLinkActive="active" class="admin"  (click)="logout()">Logout</button>

        </div>
      </div>


  </mat-toolbar>
  </div>

  <div *ngIf="isCustomerLoggedIn">
      <mat-toolbar color="warn" class="navbar">
          <span class="navbar-brand">E-Soren</span>
          <span class="spacer"></span>


      <div class="menu">
      <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
      <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Orders</button>
      <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Wishlist</button>
      <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
      </div>

      <div class="ham" [class.open]="isMenuOpen" (click)="toggleMenu() ">

        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>

        <div class="ham4" [class.open]="isMenuOpen"  (click)="toggleMenu()">

      <button mat-button routerLink="/admin/dashboard" routerLinkActive="active" class="admin">Dashboard</button>
      <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
      <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Orders</button>
      <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Wishlist</button>
      <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>

        </div>
      </div>
    </mat-toolbar>
</div>
</div>
<router-outlet></router-outlet>








