/*.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /
  z-index: -1;
}*/




.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;

}

.button{
  color: white;
}

.mat-button{
  color: white;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  margin-right: 16px;
}

.spacer {
  flex: 1;
}

button {
  color: white;
  text-transform: uppercase;
  margin-left: 8px;
}

button.active {
  font-weight: 600;
}

.mat-toolbar {
  background-color: black;
}

.ham{
  display: none;

}


@media only screen and (max-width: 498px) {

  #an{
  display: none;
  }

  .mat-toolbar{
    text-align: center;
    justify-content: center;
  }

  .navbar-brand{
    display: none;

  }


}

@media only screen and (max-width: 767px) {

  .ham{
    display: flex;

  }


  .navbar-brand{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .mat-toolbar{
    text-align: center;
    justify-content: center;
  }

  .ham2{
    display: none;
    flex-direction: column;
    background-color: black;
    height: 2%;
  }

  .ham3{
    display: none;
    flex-direction: column;
    background-color: black;
  }

  .ham4{
    display: none;
    flex-direction: column;
    background-color: black;
  }

  .menu{
    display: none;

  }

  .ham{
    position: relative;
  }

  .ham.open .ham2{
    display: flex;
    margin-bottom: -80%;
    padding-bottom: -7%;
    z-index: 1;
  }

  .ham.open .ham3{
    display: flex;

    margin-bottom: -80%;
    padding-bottom: -7%;
    z-index: 1;
  }

  .ham.open .ham4{
    display: flex;
    margin-bottom: -80%;
    padding-bottom: -7%;
    z-index: 1;
  }

}






















